@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
    font-family: Poppins, serif;
    background: linear-gradient(90deg, #491F4F 0%, #3D304A 40%, #634866 100%);
}

.nav-link{
    color: aquamarine;
}

.navbar-nav .nav-link.active{
    color: rgb(114, 110, 110);
}

.navbar-brand img{
    width: 40px;
}

.navbar-toggler{
    background-color: rgb(114, 110, 110);
}

.card-img-top{
    background-color: rgb(80, 82, 83);
}

p{
    color: white;
}

.sidebar{
    color: rgb(250, 250, 250);
    background: linear-gradient(270deg, #491F4F 0%, #3D304A 40%, #634866 100%);
}

.card a{
    text-decoration: none;
    color: black;
}

.slide-text{
    color: black;
    margin: auto auto;
}

footer{
    background: linear-gradient(270deg, #351d38 0%, #3d2c4e 40%, #6e4672 100%);
}

@media (max-width: 755){
    .carousel-indicator{
        display: none;
    }
}

.footer-text{
    color: white;
}

.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow-anim:hover{
    animation: myAnim 1s linear 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}

